.headerContiner {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  border-bottom: 1px solid rgb(105, 105, 105);
  background-color: #eaeaeb;
}
.logo h2 {
  margin: 10px 0px;
  padding: 0px 10px;
  background-color: aliceblue;
  box-shadow: 1px 2px 3px #636262;
  border-radius: 30px;
  text-align: center;
}
.cartsing {
  display: flex;
  justify-content: space-between;
}
.logoleft {
  flex: 1;
}
.navSection {
  flex: 12;
}
.cartsing {
  flex: 1;
  align-items: center;
  margin-left: 10%;
}

.Navrbar {
  float: right;
}

.logingSction,
.cortlef {
  padding: 5px 20px;
  margin: 0px 3px;
  background-color: #333333;
  border-radius: 30px;
  color: white;
}
